{% extends "base.html" %}

{% block content %}
    <h1>FAIR4AI Model Executor</h1>
    <p>Model: {{ title }}</p>
    <form method="post">
        {% csrf_token %}
        <table class="datatable table-striped">
            <tbody>
                {% for input_variable in model_version.metadata_input_variables %}
                    <tr>
                        <td>{{ input_variable.name }}</td>
                        <td><input type="number" name="{{ input_variable.id }}" id="{{ input_variable.id }}" step=".01"/></td>
                    </tr>
                {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">Predict</button>
        {% if onnx_output %}
            <h2 class="pt-3">ONNX Output</h2>
            The predicted probabilities are:
            <table>
                {% for key, value in onnx_output.items %}
                    <tr>
                        <td>{{ value | floatformat:4 }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </form>
{% endblock %}