{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1>FAIR4AI Model Executor</h1>
            <p>
                <a href="/executor" class="mb-2 link-underline link-underline-opacity-0 link-underline-opacity-100-hover">Back to all models</a>
            </p>
            <p>Model: {{ title }}</p>
        </div>
        <div class="row mt-3">
            <form method="post">
                {% csrf_token %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <p class="fw-bold">Something went wrong</p>
                        <span>{{ error }}</span>
                    </div>
                {% endif %}
                <table class="table">
                    <tbody>
                        {% for input_variable in model_version.metadata_input_variables %}
                            <tr>
                                <th>{{ input_variable.name }}</th>
                                <td><input type="number" name="{{ input_variable.id }}" id="{{ input_variable.id }}" step=".01"/></td>
                            </tr>
                        {% endfor %}
                </table>
                <button type="submit" class="btn btn-primary">Predict</button>
                {% if onnx_output %}
                    <h2 class="pt-3">ONNX Output</h2>
                    The predicted probabilities are:
                    <table class="table table-bordered">
                        {% for key, value in onnx_output.items %}
                            <tr>
                                <td>{{ value | floatformat:4 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}