{% extends "base.html" %}

{% block content %}
    <h1>FAIR4AI Model Executor</h1>
    <p>Please select a model below.</p>
    <table class="datatable table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Version</th>
                <th>Creation date</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
                <tr>
                    <td>{{ model.title }}</td>
                    <td>{{ model.description }}</td>
                    <td>{{ model.version }}</td>
                    <td>{{ model.created_at }}</td>
                    <td><a href='./{{ model.version_id }}' role="button" class="btn btn-secondary float-right">Open</a></td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}